.card.mx-auto.text-center.px-4.pt-4.pb-3.mt-5
  = form_for booking do |f|
    = f.label :arrival, 'Arrival Date'
    = f.date_field :arrival, class: 'form-control mb-3'
    = f.label :departure, 'Departure Date'
    = f.date_field :departure, class: 'form-control mb-3'
    = f.submit 'Submit', class: 'btn btn-success'
